h1{
    text-align: center;
    color: #002e4a;

}



button {
    background-color: #046aaa;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-decoration: none;
    color: aliceblue;
    font-size: larger;
    font-weight: bold;
    border-radius: 30px;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }

body{
  background-color: #bbe5ff;
}