.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
    border-radius:60px;
    flex-direction: column-reverse;
  }


  .parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
    
.div1 { 
    grid-area: 1 /1/ 6 / 3; 
    padding: 10%;
}

.div2 {
   grid-area: 4 / 3 / 6 / 5; 
   display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.div3 {
    grid-area: 2 / 3 / 4 / 5; 
        }

.div4 {
    grid-area: 2 / 5 / 6 / 6; 
    display: flex;
    flex-direction: row;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    font-size: larger;
        }

.avatar-image{
    width: clamp(2rem, calc(2rem + 2vw), 2rem);
   overflow: hidden;
   border-radius: 20em;
}

#books-post-page{
    width: clamp(10rem, calc(10rem + 2vw), 12rem);
    overflow: hidden;
    border-radius: 5em;
}

.card-image{
    border-radius: 20px;
}

p{
    font-size: larger;
}

#contact-author a{
    text-decoration: none;
    list-style-type: none;
    color: rgb(92, 20, 62);
    font-weight: bold;
}
